


h1, h3 {
  text-align: center;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

.members{
  width: 25%;
  float: left;
  padding: inherit;
  margin-top: 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

img {
  border-radius: 20px;
	height: 220px;
	width: 200px;
	margin-bottom: 20px;
}
